<%= simple_form_for(@user_sub) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :subscription %>
    <%= f.input :moderator %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
